<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ユーザー一覧</a>
  </div>

<div class="container">
  <table class="table table-striped table-bordered">
    <tr>
      <th>ユーザー名</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
</table>
